.projects-main-div{
    .heading{
        padding-top: 40px;
    }
    .heading{
        h1{
            font-weight: 700;
            text-align: center;
        }
        span{
            color: #f9977b;
        }
    }
}